
:root {
  /* Colors */
  --light-color: radial-gradient( #D5F3FF, #51B4E8 );
  --dark-color: radial-gradient( #53388F, #2f2958 );
  --dark-mode-container: linear-gradient(#583683, #593684, #362A84);
  --container-light-color: hsl(0, 0%, 90%); 
  --text-color-light: #026EED;
  --text-color-dark: hsl(0, 0%, 90%);
  --text-title-color: #FFFFFF;
  --text-color: #56A5F1;
  --text-color-darkmode: #d5f3ffc3;
  --shadow: 2px 2px 8px  rgba(2, 2, 2, 0.2);
  --button-day-color: #38A0D8;
  --button-dark-color: #7D69F1;
  
  /* Font weight and typography */
  --font-family: 'Lato', sans-serif;
  --font-size: 22px;
  --temp--size: 3.5rem;
  --temp2-size: 2.5rem;
  --big-font: 2rem;
  --medium-font: 1.5rem;
  --normal-font: 1rem;
  --small-font: .8rem;
  --tiny-font: .75rem;

  /* Font weight */
  --font-tiny: 100;
  --font-normal: 300;
  --font-medium: 400;
  --font-bold: 700;

  /* Margins */
  --sp-0-25: .25rem;
  --sp-0-5: .5rem;
  --sp-0-75: .75rem;
  --sp-1: 1rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-3: 3rem;
  --sp-4: 4rem;
  --sp-5: 5rem; 
}


/* BASE */
html {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: var(--light-color);
  color: var(--text-color-light);
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
}


.header{
  display: flex;
  justify-content: space-between;
  padding: var(--sp-1);
}

.title{ 
  font-size: var(--font-size);
  font-weight: var(--font-medium);
  color: var(--text-title-color);
}


.container {
  background: linear-gradient(#E5F2FF, #D5F3FF);
  box-shadow: var(--shadow);
  height: 14rem;
  width: 22rem;
  margin: auto;
  text-align: left;
  padding: var(--sp-0-75);
  margin-top: 7rem;
  position: relative;
  border-radius: 65px;
}

.temperature{
  font-weight: var(--font-normal);
  font-size: var(--temp--size);
}

.text{
  font-weight: var(--font-normal);
  font-size: var(--small-font);
  color: var(--text-color);
}

.text-footer-container{
  font-weight: var(--font-normal);
  margin: auto;
  color: var(--text-color);
  text-transform: uppercase;
  max-width: 50px;
}

.city-country{
  font-size: var(--font-size);
  font-weight: var(--font-medium);
  margin: auto;
}

.container-country{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.image{
  position: absolute;
  top: 0;
  right: -.3rem;
  transform: translateY(-30%);
  max-width: 150px;
}

.buttonCh{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: var(--sp-5);
  height: 38px;
  width: 120px;
  background: var(--button-day-color);
  color: var(--text-title-color);
  font-family:  var(--font-family);
  box-shadow: var(--shadow);
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.buttonCh {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.buttonCh:hover {
  color: var(--text-title-color);
}
.buttonCh::after {
  content: "";
  background: var(--button-dark-color);
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.buttonCh:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.bx {
  color: var(--dark-color);
}

/* DARKMODE */
.dark-mode{
  background: var(--dark-color);
  color: var(--text-color-dark);
  width: 100%;
  height: 100vh;
}

.dark-mode .container{
  background: var(--dark-mode-container);
}

.dark-mode .buttonCh{
  background: var(--button-dark-color);
}

.dark-mode .text-footer-container,
.dark-mode .text {
  color: var(--text-color-darkmode);
}

.dark-mode .buttonCh::after{
  background: var(--button-day-color) ;
}



/* LOADER */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader{
  background: #51B4E8;
  z-index: 100;
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BREAKPOINTS */

@media screen and (min-width: 768px ){
  
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title{ 
    font-size: var(--big-font);
    margin-left: 3rem;
  }
  
  .text{
    font-weight: var(--font-medium);
  }
  
  .text-footer-container{
    font-weight: var(--font-medium);
  }

  .buttonDarkMode{
    margin-right: var(--sp-3);
  }

  .container {
    height: 15rem;
    width: 30rem;
    padding: var(--sp-1);
    margin-top: 5rem;
  }
  
  .buttonCh{
    margin-top: var(--sp-3);
    height: 38px;
    width: 178px;
  }

  .container-country{
    margin-top: .1rem;
  }

  .city-country{
    font-size: var(--temp2-size);
    font-weight: var(--font-medium);
  }

  .buttonCh{
    font-size: var(--normal-font);
  }

  .image{
    right: -.7rem;
    max-width: 200px;
  }
  
}

